<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    User id: <%= req.user.id %> Twitter Handle: <%= req.user.username %>
  </body>
</html>