<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/competition/create" method="POST">
    Competition Name: <input name="competitionName" /><br />
  
    Line: <select name="line">
    <option>True</option>
    <option>False</option>
    </select><br />
    Comments: <textarea name="comments"></textarea><br />
    <input type="submit" value="Create New Competition" />
    </form>
  </body>
</html>