<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/games/create" method="POST">

    	Away Team <select name="awayTeam" />
      <option>Arizona Cardinals</option>
      <option>Atlanta Falcons</option>
      <option>Baltimore Ravens</option>
      <option>Buffalo Bills</option>
      <option>Carolina Panthers</option>
      <option>Chicago Bears</option>
      <option>Cincinnati Bengals</option>
      <option>Cleveland Browns</option>
      <option>Dallas Cowboys</option>
      <option>Denver Broncos</option>
      <option>Detroit Lions</option>
      <option>Green Bay Packers</option>
      <option>Houston Texans</option>
      <option>Indianapolis Colts</option>
      <option>Jacksonville Jaguars</option>
      <option>Kansas City Chiefs</option>
      <option>Miami Dolphins</option>
      <option>Minnesota Vikings</option>
      <option>New England Patriots</option>
      <option>New Orleans Saints</option>
      <option>New York Giants</option>
      <option>New York Jets</option>
      <option>Oakland Raiders</option>
      <option>Philadelphia Eagles</option>
      <option>Pittsburgh Steelers</option>
      <option>San Diego Chargers</option>
      <option>San Francisco 49ers</option>
      <option>Seattle Seahawks</option>
      <option>St. Louis Rams</option>
      <option>Tampa Bay Buccaneers</option>
      <option>Tennessee Titans</option>
      <option>Washington Redskin</option>
      </select><br />
      Away Line <input name="awayLine" /><br />

Home Team 
      <select name="homeTeam" />
      <option>Arizona Cardinals</option>
      <option>Atlanta Falcons</option>
      <option>Baltimore Ravens</option>
      <option>Buffalo Bills</option>
      <option>Carolina Panthers</option>
      <option>Chicago Bears</option>
      <option>Cincinnati Bengals</option>
      <option>Cleveland Browns</option>
      <option>Dallas Cowboys</option>
      <option>Denver Broncos</option>
      <option>Detroit Lions</option>
      <option>Green Bay Packers</option>
      <option>Houston Texans</option>
      <option>Indianapolis Colts</option>
      <option>Jacksonville Jaguars</option>
      <option>Kansas City Chiefs</option>
      <option>Miami Dolphins</option>
      <option>Minnesota Vikings</option>
      <option>New England Patriots</option>
      <option>New Orleans Saints</option>
      <option>New York Giants</option>
      <option>New York Jets</option>
      <option>Oakland Raiders</option>
      <option>Philadelphia Eagles</option>
      <option>Pittsburgh Steelers</option>
      <option>San Diego Chargers</option>
      <option>San Francisco 49ers</option>
      <option>Seattle Seahawks</option>
      <option>St. Louis Rams</option>
      <option>Tampa Bay Buccaneers</option>
      <option>Tennessee Titans</option>
      <option>Washington Redskin</option>
      </select><br />

    	Home Line <input name="homeLine" /><br />
    	
    	Competition Name <select name="competition_name">
       <% for(var i=0; i<competitions.length; i+=1) { %>
   <option value="<%= competitions[i].competitionName %>"><%= competitions[i].competitionName %></option>
    <% } %>
    </select>
      <br />
    	<input type="submit" value="Make Game Entry" />
    </form>
  </body>
</html>